<% if params[:vote] == "1" %>
  <p><img src="/images/up_on.gif"/> you have given this webpage a thumb up!</p>
<% elsif params[:vote] == "-1" %>
  <p><img src="/images/down_on.gif"/> you have given this webpage a thumb down!</p>
<% end %>
