<h1>verditz</h1>

<% for article in @articles %>
  <div class="article">
    <div class="title"><a href="<%= article.url %>"><%= h article.title %></a></div>
    <div class="time-ago"><%= timeago(article.publish_time) %></div>
  </div>
<% end %>

<%= link_to 'Previous page', { :page => @article_pages.current.previous } if @article_pages.current.previous %>
<%= link_to 'Next page', { :page => @article_pages.current.next } if @article_pages.current.next %> 
