<%= render(:partial => "article", :collection => @articles) %>

<%= link_to 'Previous page', { :page => @article_pages.current.previous } if @article_pages.current.previous %>
<%= link_to 'Next page', { :page => @article_pages.current.next } if @article_pages.current.next %> 
