<h2>Bookmarklets</h2>
<p>you can use these bookmarklets to up or downvote any website in your browser. just bookmark the following links and click them when you're on a site you want to vote on.</p>
<p><a href="javascript:function loadScript(scriptURL) { var scriptElem = document.createElement('SCRIPT'); scriptElem.setAttribute('language', 'JavaScript'); scriptElem.setAttribute('src', scriptURL); void(document.body.appendChild(scriptElem));} loadScript('<%= url_for :controller => "articles", :action => "bookmarklet_js", :only_path => false %>?vote=1');">upvote</a> | <a href="javascript:function loadScript(scriptURL) { var scriptElem = document.createElement('SCRIPT'); scriptElem.setAttribute('language', 'JavaScript'); scriptElem.setAttribute('src', scriptURL); void(document.body.appendChild(scriptElem));} loadScript('<%= url_for :controller => "articles", :action => "bookmarklet_js", :only_path => false %>?vote=-1');">downvote</a></p>
